.custumer_text{
    font-size: medium;
    letter-spacing: 0.7px;
 line-height: 2;
  }
  .cusmuer_siez_img{
    width: 35%;
  }

  ol li {
    font-size: medium;
    letter-spacing: 0.7px;
 line-height: 2;
  }

 
//  .custumer_div{
//   border-radius:2px solid var(--card-header-primary-background-color);
//  }

 .custumer_div {
  position: relative;
  
  border: 2px solid var(--card-header-primary-background-color);
  border-radius:10px;
    overflow: hidden;
}

.custumer_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #ffff, #0077ff, #0000ff, #00a2ff);
  animation: bordermove 2s linear infinite;
}

@keyframes bordermove {
  0% {
    border-radius: 10px;
    transform: translate(0, 0);
  }
  25% {
    border-radius: 50% 10% 10% 50%;
    transform: translate(100%, 0);
  }
  50% {
    border-radius: 10% 50% 50% 10%;
    transform: translate(100%, 100%);
  }
  75% {
    border-radius: 50% 10% 10% 50%;
    transform: translate(0, 100%);
  }
  100% {
    border-radius: 10px;
    transform: translate(0, 0);
  }
}


.custumer_div_solution{
  position: relative;
  
  border: 2px solid gray;
  border-radius:10px;
    overflow: hidden;
}
.custumer_div_solution::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #ffff, #86888b, #848486, #929292);
  animation: bordermove 2s linear infinite;
}

  
  
.advantages-inconvenients ul {
  list-style-type: none;  
  padding: 0;
}
